{require_otp_vsn, "R15B03|R16B"}.
{erl_opts,[{parse_transform, lager_transform}]}.


{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
	{ibrowse, "4.0.1", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
	{mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
	{erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "HEAD"}}	
]}.
